<section data-ng-controller="SocialEventsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>Edit SocialEvent</h1>
	</div>
	<div class="col-md-12">
		<form class="form-horizontal" data-ng-submit="update()" novalidate>
			<fieldset>
				<div class="form-group">
					<label class="control-label" for="title">Title</label>
					<div class="controls">
						<input type="text" data-ng-model="socialevent.title" id="title" class="form-control" placeholder="Title" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="content">Content</label>
					<div class="controls">
						<textarea data-ng-model="socialevent.content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
					</div>
				</div>
				<!-- TODO: change this to use checkboxes for providers which should be configurable-->
				<div class="form-group">
					<label class="control-label" for="content">Providers by checkboxes</label>
					<div class="controls col-lg-6 col-md-6">
						<div data-ng-repeat="socialevent in socialevents">
							<p data-ng-model="name"/>
							<!-- TODO: fix this so it works -->
							<input type="checkbox" data-ng-model="enable"/>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="content">Autosend</label>
					<div class="controls col-lg-12 col-md-12">
						<!-- TODO: fix this so it works -->
						<input data-ng-model="autosend" id="autosend" class="" type="checkbox">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="content">Providers</label>
					<div class="controls">
						<textarea data-ng-model="socialevent.providers" id="providers" class="form-control" cols="30" rows="10" placeholder="Providers such as Facebook, Twitter, Google, etc."></textarea>
					</div>
				</div>
				<div class="form-group">
					<input type="submit" value="Update" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>